@import "tailwindcss";

@theme {
  --color-surface: #f5f7f9;
  --color-on-surface: #2c2f31;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eef1f3;
  --color-primary: #4647d3;
  --color-on-primary: #f4f1ff;
  --color-primary-container: #9396ff;
  --color-secondary: #006947;
  --color-secondary-container: #69f6b8;
  --color-on-secondary-container: #005a3c;
  --color-tertiary-container: #f8a010;
  --color-on-tertiary-container: #4a2c00;
  --color-error-container: #f74b6d;
  --color-on-error-container: #510017;
  --color-outline-variant: #abadaf;
  --color-on-surface-variant: #595c5e;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer utilities {
  .glass-panel {
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
  }
}

body {
  @apply bg-surface font-body text-on-surface;
}
