@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0..1,0');
@import "tailwindcss";

@theme {
  --color-surface-bright: #f5f7f9;
  --color-surface-dim: #d0d5d8;
  --color-on-tertiary: #fff0e3;
  --color-on-secondary: #c8ffe0;
  --color-surface-container-low: #eef1f3;
  --color-surface-container: #e5e9eb;
  --color-on-secondary-fixed: #00452d;
  --color-inverse-primary: #8083ff;
  --color-tertiary-dim: #714600;
  --color-secondary: #006947;
  --color-on-primary-container: #0a0081;
  --color-on-secondary-container: #005a3c;
  --color-on-primary-fixed-variant: #0e009d;
  --color-tertiary-fixed-dim: #e79400;
  --color-secondary-fixed-dim: #58e7ab;
  --color-on-error: #ffefef;
  --color-primary-fixed: #9396ff;
  --color-outline-variant: #abadaf;
  --color-primary-fixed-dim: #8387ff;
  --color-inverse-surface: #0b0f10;
  --color-secondary-container: #69f6b8;
  --color-background: #f5f7f9;
  --color-tertiary-fixed: #f8a010;
  --color-on-tertiary-fixed: #2a1700;
  --color-outline: #747779;
  --color-error-container: #f74b6d;
  --color-secondary-fixed: #69f6b8;
  --color-on-secondary-fixed-variant: #006544;
  --color-surface: #f5f7f9;
  --color-primary: #4647d3;
  --color-on-primary: #f4f1ff;
  --color-on-primary-fixed: #000000;
  --color-on-surface-variant: #595c5e;
  --color-on-background: #2c2f31;
  --color-tertiary-container: #f8a010;
  --color-on-tertiary-container: #4a2c00;
  --color-primary-dim: #3939c7;
  --color-primary-container: #9396ff;
  --color-surface-container-highest: #d9dde0;
  --color-on-error-container: #510017;
  --color-secondary-dim: #005c3d;
  --color-on-surface: #2c2f31;
  --color-surface-container-lowest: #ffffff;
  --color-inverse-on-surface: #9a9d9f;
  --color-error-dim: #a70138;
  --color-error: #b41340;
  --color-on-tertiary-fixed-variant: #563400;
  --color-tertiary: #815100;
  --color-surface-container-high: #dfe3e6;
  --color-surface-tint: #4647d3;
  --color-surface-variant: #d9dde0;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    font-family: var(--font-body);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}